.nameStyle {
    color: var(--color-text-high);
}
table{
    color: var(--color-text-low) ;
    background: var(--color-accent-500);
    overflow-x: auto;
}
.mdc-data-table__table{
    min-width: 100px;
}
.mat-mdc-table .mat-mdc-header-cell{
    color: var(--color-text-low) ;
}
td{
    color: var(--color-text-low) ;
}
thead{
    background-color: var(--color-accent-grey);
}
.selected {
    background: var(--color-primary-600);
}
.mat-mdc-table .mdc-data-table__header-row{
    background-color: var(--color-accent-grey);
}