<div class="grid-container">
    <mat-grid-list cols="3" [gutterSize]="'16px'" rowHeight="230">
        <mat-grid-tile class="grid-one-style">
            <app-cash-accleration-card-item content="Term cap" textContent="12 months"
                iconPath="assets/images/warning.png"
                imagePath="assets/images/card-one.png"></app-cash-accleration-card-item>
        </mat-grid-tile>
        <mat-grid-tile>
            <app-cash-accleration-card-item content="Available credit" textContent="$880.0k"
                iconPath="assets/images/warning.png"
                imagePath="assets/images/card-two.png"></app-cash-accleration-card-item>
        </mat-grid-tile>
        <mat-grid-tile>
            <app-cash-accleration-card-item content="Max interest rate" textContent="12.00%"
                iconPath="assets/images/warning.png"
                imagePath="assets/images/card-three.png"></app-cash-accleration-card-item>
        </mat-grid-tile>
    </mat-grid-list>
</div>