<div class="container">

    <div>
        <img src="assets/images/logo.png" style="height: 60px;width: 200px;">
    </div>

    <div class="menu">
        <div class="nav-item">
            <app-icon-typography content="Home" variant="button" iconPath="assets/images/home.png" [left]="true" shape="14px"></app-icon-typography>
        </div>
        <div class="nav-item selected-item">
            <app-icon-typography content="Cash Accleration" variant="button" iconPath="assets/images/cash.png" [left]="true" shape="14px"></app-icon-typography>
        </div>
    </div>

    <div class="top">
        <div class="nav-item">
            <app-icon-typography content="Watch how to" variant="button" iconPath="assets/images/thunder.png" [left]="true" shape="12px"></app-icon-typography>
        </div>
    </div>

</div>